<div class='about-wrapper'>
    <h1 class='about-title'>
      {{title}}
    </h1>
    <md-card class='about-info-wrapper'>
      <h3 class='article-title'>Some important info</h3>
      <p class='article-text'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, pariatur? Optio amet deleniti, tempore et doloremque, eos quam adipisci saepe exercitationem eligendi iste modi id natus at enim corporis facere. Velit, maiores veniam obcaecati temporibus voluptatibus dolore ut, consectetur dignissimos vitae, fugit vel! Iste, vero dolorum fuga dolorem ipsam eos.</p>
    </md-card>
    <md-card class='about-info-wrapper'>
      <h3 class='article-title'>Some additional info</h3>
      <p class='article-text'>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere, et ipsa beatae dolorem voluptate velit voluptates aperiam assumenda voluptas nobis ullam laudantium qui alias ut, nostrum quas, saepe esse quo quidem quod odio. Explicabo, velit at quibusdam consequatur neque similique molestias tempore quaerat. Quae praesentium natus architecto, pariatur corrupti quo fuga culpa repellendus sequi accusantium placeat eveniet dolore! Placeat quis ipsam explicabo eos fugiat quasi, incidunt cupiditate sint tempore accusamus impedit architecto asperiores facere et rem quibusdam voluptate qui ab debitis optio commodi unde? Repudiandae, suscipit? Aspernatur labore eos optio atque quasi quos quae id. In, quam corporis! Doloribus, ab?</p>
    </md-card>
  </div>